:root{
    --blue-hundred: #2A7AE4;
    --blue-eighty: #5595E9;
    --blue-twenty: #D4E4FA;
    --blue-ten: #EAF2FD;

    --black-hundred: #464646;
    --black-thirty: #C8C8C8;
    --black-five: #F5F5F5;

    --white-grey: #E5E5E5;

    --font: 'Raleway', sans-serif;
}