.login{
    width: 70vw;
    height: 40vh;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.login__input{
    height: 2.5rem;
}
@media screen and (min-width:768px) {
    .login{
        max-width: 20rem;
    }
}