.banner{
    height: 50vh;
    
    color: #fff;

    background-image: url('../../img/img-banner/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding: 1.5rem;
    gap: .75rem;

    box-shadow: inset 0px -80px 9rem #000;
}
.banner__title{
    font-weight: 700;
}
.banner__texto{
    font-size: .65rem;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .banner{
        padding-left: 5vw;
        gap: 1rem;
    }
    .banner__title{
        font-size: 3rem;
    }
    .banner__texto{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:1024px){
    .banner{
        padding-left: 6vw;
    }
}